apiVersion: v1
kind: Namespace
metadata:
  name: clusternet-reserved

---
apiVersion: v1
kind: Namespace
metadata:
  name: clusternet-system

---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: clusternet-hub
  namespace: clusternet-system

---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: clusternet-hub-proxy
  namespace: clusternet-system

---
apiVersion: v1
kind: Service
metadata:
  name: clusternet-hub
  namespace: clusternet-system
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 443
  selector:
    app: clusternet-hub

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: clusternet-hub
  namespace: clusternet-system
  labels:
    app: clusternet-hub
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clusternet-hub
  template:
    metadata:
      labels:
        app: clusternet-hub
    spec:
      serviceAccountName: clusternet-hub
      tolerations:
        - key: node-role.kubernetes.io/master
          operator: Exists
      containers:
        - name: clusternet-hub
          image: ghcr.io/clusternet/clusternet-hub:v0.9.1
          imagePullPolicy: IfNotPresent
          env:
            - name: SYSTEM_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: RESERVED_NAMESPACE
              value: clusternet-reserved
          command:
            - /usr/local/bin/clusternet-hub
            - --secure-port=443
            - --feature-gates=SocketConnection=true,Deployer=true,ShadowAPI=true,FeedInUseProtection=true,FeedInventory=true
            - --anonymous-auth-supported=true
            - --leader-elect-resource-namespace=$(SYSTEM_NAMESPACE)
            - --reserved-namespace=$(RESERVED_NAMESPACE)
