# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Order is important;

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dixudx will be requested for
# review when someone opens a pull request.
*       @dixudx

.github     @clusternet/clusternet-admin

Dockerfile  @clusternet/clusternet-admin
Makefile    @clusternet/clusternet-admin

# cmd
/cmd    @clusternet/clusternet-admin

# deploy
/deploy     @clusternet/clusternet-admin

# hack scripts
/hack   @clusternet/sig-utils

# manifests
/manifests  @clusternet/clusternet-admin

# pkg
/pkg   @clusternet/clusternet-admin

/pkg/agent  @clusternet/clusternet-admin
/pkg/hub    @clusternet/clusternet-admin

/pkg/apis           @clusternet/sig-apis
/pkg/apis/clusters  @clusternet/sig-clusters @clusternet/sig-apis
/pkg/apis/proxies   @clusternet/sig-network @clusternet/sig-apis
/pkg/apis/apps      @clusternet/sig-apps @clusternet/sig-apis

/pkg/registry   @clusternet/sig-apis
/pkg/exchanger  @clusternet/sig-network
/pkg/features   @clusternet/clusternet-admin
/pkg/utils      @clusternet/sig-utils
