
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: bases.apps.clusternet.io
spec:
  group: apps.clusternet.io
  names:
    categories:
    - clusternet
    kind: Base
    listKind: BaseList
    plural: bases
    singular: base
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Base represents the referenced resources/templates before rendering.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BaseSpec defines the desired state of Base
            properties:
              feeds:
                description: Feeds
                items:
                  description: Feed defines the resource to be selected.
                  properties:
                    apiVersion:
                      description: APIVersion defines the versioned schema of this
                        representation of an object.
                      type: string
                    kind:
                      description: Kind is a string value representing the REST resource
                        this object represents. In CamelCase.
                      type: string
                    name:
                      description: Name of the target resource.
                      type: string
                    namespace:
                      description: Namespace of the target resource.
                      type: string
                  required:
                  - apiVersion
                  - kind
                  - name
                  type: object
                type: array
            required:
            - feeds
            type: object
          status:
            properties:
              manifestStatus:
                description: ManifestStatuses contains running status of manifests
                  in spec.
                items:
                  properties:
                    feed:
                      description: feed
                      properties:
                        apiVersion:
                          description: APIVersion defines the versioned schema of
                            this representation of an object.
                          type: string
                        kind:
                          description: Kind is a string value representing the REST
                            resource this object represents. In CamelCase.
                          type: string
                        name:
                          description: Name of the target resource.
                          type: string
                        namespace:
                          description: Namespace of the target resource.
                          type: string
                      required:
                      - apiVersion
                      - kind
                      - name
                      type: object
                    status:
                      description: Status reflects running status of current manifest.
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
                  required:
                  - feed
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
