
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: localizations.apps.clusternet.io
spec:
  group: apps.clusternet.io
  names:
    categories:
    - clusternet
    kind: Localization
    listKind: LocalizationList
    plural: localizations
    shortNames:
    - loc
    - local
    singular: localization
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Localization represents the override config for a group of resources.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LocalizationSpec defines the desired state of Localization
            properties:
              feed:
                description: Feed holds references to the objects the Localization applies to.
                properties:
                  apiVersion:
                    description: APIVersion defines the versioned schema of this representation of an object.
                    type: string
                  kind:
                    description: Kind is a string value representing the REST resource this object represents. In CamelCase.
                    type: string
                  name:
                    description: Name of the target resource.
                    type: string
                  namespace:
                    description: Namespace of the target resource.
                    type: string
                required:
                - apiVersion
                - kind
                - name
                type: object
              overridePolicy:
                default: ApplyLater
                description: OverridePolicy specifies the override policy for this Localization.
                enum:
                - ApplyNow
                - ApplyLater
                type: string
              overrides:
                description: Overrides holds all the OverrideConfig.
                items:
                  description: OverrideConfig holds information that describes a override config.
                  properties:
                    name:
                      description: Name indicate the OverrideConfig name.
                      type: string
                    type:
                      description: Type specifies the override type for override value.
                      enum:
                      - Helm
                      - JSONPatch
                      - MergePatch
                      type: string
                    value:
                      description: Value represents override value.
                      type: string
                  required:
                  - type
                  - value
                  type: object
                type: array
              priority:
                default: 500
                description: Priority is an integer defining the relative importance of this Localization compared to others. Lower numbers are considered lower priority. And these Localization(s) will be applied by order from lower priority to higher. That means override values in lower Localization will be overridden by those in higher Localization.
                format: int32
                maximum: 1000
                minimum: 0
                type: integer
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
