
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: clusterregistrationrequests.clusters.clusternet.io
spec:
  group: clusters.clusternet.io
  names:
    categories:
    - clusternet
    kind: ClusterRegistrationRequest
    listKind: ClusterRegistrationRequestList
    plural: clusterregistrationrequests
    shortNames:
    - clsrr
    singular: clusterregistrationrequest
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: The unique id for the cluster
      jsonPath: .spec.clusterId
      name: CLUSTER ID
      type: string
    - description: The status of current cluster registration request
      jsonPath: .status.result
      name: STATUS
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: ClusterRegistrationRequest is the Schema for the clusterregistrationrequests API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ClusterRegistrationRequestSpec defines the desired state of ClusterRegistrationRequest
            properties:
              clusterId:
                description: ClusterID, a Random (Version 4) UUID, is a unique value in time and space value representing for child cluster. It is typically generated by the clusternet agent on the successful creation of a "self-cluster" Lease in the child cluster. Also it is not allowed to change on PUT operations.
                pattern: '[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'
                type: string
              clusterName:
                description: ClusterName is the cluster name. a lower case alphanumeric characters or '-', and must start and end with an alphanumeric character
                maxLength: 30
                pattern: '[a-z0-9]([-a-z0-9]*[a-z0-9])?([a-z0-9]([-a-z0-9]*[a-z0-9]))*'
                type: string
              clusterType:
                description: ClusterType denotes the type of the child cluster.
                type: string
              syncMode:
                default: Pull
                description: SyncMode decides how to sync resources from parent cluster to child cluster.
                enum:
                - Push
                - Pull
                - Dual
                type: string
            required:
            - clusterId
            type: object
          status:
            description: ClusterRegistrationRequestStatus defines the observed state of ClusterRegistrationRequest
            properties:
              caCertificate:
                description: CACertificate is the public certificate that is the root of trust for parent cluster The certificate is encoded in PEM format.
                format: byte
                type: string
              dedicatedNamespace:
                description: DedicatedNamespace is a dedicated namespace for the child cluster, which is created in the parent cluster.
                type: string
              errorMessage:
                description: ErrorMessage tells the reason why the request is not approved successfully.
                type: string
              managedClusterName:
                description: ManagedClusterName is the name of ManagedCluster object in the parent cluster corresponding to the child cluster
                type: string
              result:
                description: Result indicates whether this request has been approved. When all necessary objects have been created and ready for child cluster registration, this field will be set to "Approved". If any illegal updates on this object, "Illegal" will be set to this filed.
                type: string
              token:
                description: DedicatedToken is populated by clusternet-hub when Result is RequestApproved. With this token, the client could have full access on the resources created in DedicatedNamespace.
                format: byte
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
